//****************************
// logo
//****************************
.c-logo{
  font-weight: normal;
  font-size: 16px;
  line-height: 1;
  padding: 5px 0;
  display: inline-block;
}
.c-logo__link,.c-logo__link:hover{
  display: inherit; 
  color: #FFF;
  font-size: 16px;
}
@media #{$more_than_small}{
  .c-logo__link img{
    height: 30px;
    width: auto;
  }
}
@media #{$less_than_small}{
  .c-logo__link img{
    height: 26px;
    width: auto;
  }
}


//****************************
// voice
//****************************
#p-ranking,#p-detail{
  .c-voices{
    font-size: 14px;
  }
  .c-voices .ui.raised.segment{
    font-size: 100%;
    margin:25px 0;
  }
  .c-voice__author{
    display: flex;
    align-items: center;
  }
  .c-voice__avatar{
    width: 4em;
    height: 4em;
    float: none;
  }
  .c-voice__avatar20m{
    background: url('http://data.tenshoku-journal.com/human_avatar_20_m.png') no-repeat;
    background-size: contain;
    display: block;
    width: 100%;
    height: 100%;
  }
  .c-voice__avatar30m{
    background: url('http://data.tenshoku-journal.com/human_avatar_30_m.png') no-repeat;
    background-size: contain;
    display: block;
    width: 100%;
    height: 100%;
  }
  .c-voice__avatar40m{
    background: url('http://data.tenshoku-journal.com/human_avatar_40_m.png') no-repeat;
    background-size: contain;
    display: block;
    width: 100%;
    height: 100%;
  }
  .c-voice__avatar20w{
    background: url('http://data.tenshoku-journal.com/human_avatar_20_w.png') no-repeat;
    background-size: contain;
    display: block;
    width: 100%;
    height: 100%;
  }
  .c-voice__avatar30w{
    background: url('http://data.tenshoku-journal.com/human_avatar_30_w.png') no-repeat;
    background-size: contain;
    display: block;
    width: 100%;
    height: 100%;
  }
  .c-voice__avatar40w{
    background: url('http://data.tenshoku-journal.com/human_avatar_40_w.png') no-repeat;
    background-size: contain;
    display: block;
    width: 100%;
    height: 100%;
  }
  .c-voice__meta{
    padding: 0 15px;
  }
  .c-voice__comment{
    margin: 15px 0 0;
  }
  .c-voice__comment .text{
    font-size: 12px;
    line-height: 1.6;
    color: $base_text_color;
  }
}


//****************************
// double button
//****************************
#p-ranking,#p-detail,#p-jobinfo{
  .c-double__buttons{
    margin: 5.0em 0 3.0em;
  }
  @media #{$more_than_large}{
    .c-double__buttons{
      display: flex;
    }
    .c-double__buttons .c-button{
      width: 50%;
      margin: 0 20px;
    }
  }
  .c-button{
    width: 100%;
    font-size: 14px;
    font-weight: normal;
    padding:0;
    margin-bottom: 20px;
    box-sizing: border-box;
  }
  .c-button a{
    color: #FFF;
    padding: 20px 1.5em;
    box-sizing: border-box;
    display: block;
    width: 100%;
    height: 100%;
  }
}

//****************************
// single button
//****************************
#p-ranking .c-single__button,#p-detail .c-single__button,#p-jobinfo .c-single__button{
  text-align: center;
  font-size: 14px;
  line-height: 1.6;
  font-weight: normal;
  padding-top: 1em;
  padding-bottom: 1em;
  margin: 0 auto;
  box-sizing: border-box;
}
@media #{$more_than_large}{
  #p-ranking .c-single__button,#p-detail .c-single__button{
    width: 50%;
    min-width: 274px;
  }
}
@media #{$less_than_large}{
  #p-ranking .c-single__button,#p-detail .c-single__button{
    width: 100%;
  }
}
#p-jobinfo .c-single__button{
  width: 100%;
}



//****************************
// hero
//****************************
.c-hero{
  width: 100%;
  height: 400px;
  color: #FFF;
  position: relative;
  display: block;
}
@media #{$less_than_small}{
  .c-hero{
    height: 260px;
  }
}


//****************************
// breadcrumb
//****************************
#p-ranking{
  .c-breadcrumb{
    color: #FFF;
    padding: 10px 0;
    font-size: 12px;
  }
  .c-breadcrumb a,.c-breadcrumb span{
    line-height: 1.6;
  }
  .c-breadcrumb a{
    color: #FFF;    
  }
  .c-breadcrumb a:hover{
    color: #FFF;
    text-decoration: underline;
  }
  .ui.breadcrumb .c-breadcrumb i.icon.divider{
    color: #FFF;
  }
}

#p-search,#p-detail,#p-jobinfo,#p-knowhow,#p-knowhowDetail{
  .c-breadcrumb{
    padding: 10px 0;
    font-size: 12px;
  }
  .c-breadcrumb a,.c-breadcrumb span{
    line-height: 1.6;
  }
  .c-breadcrumb a{
    color: #{$base_theme_color};    
  }
  .c-breadcrumb a:hover{
    color: #{$base_theme_color};
    text-decoration: underline;
  }
  .c-breadcrumb.ui.breadcrumb i.icon.divider{
    color: #{$base_theme_color};
  }
  .c-breadcrumb span{
    color: #666;
  }
}

//****************************
// searchCassette
//****************************
#p-ranking,#p-search,#p-jobinfo{
  .c-searchCassette{
    margin-bottom: 3.0rem;
  }
  .c-searchCassette__meta{
    font-size: 1.2rem;
    color: #999;
  }
  .c-searchCassette h2{
    color: #666;
    font-size: 1.6rem;
  }
  .c-searchCassette h2 a{
    color: inherit;
  }
  @media #{$less_than_medium}{
    .c-searchCassette h2{
      font-size: 1.4rem;
    }
  }
  .c-searchCassette__lead .c-searchCassette__link{
    font-size: 1.4rem;
    color: #666;
  }
  @media #{$less_than_medium}{
    .c-searchCassette__lead .c-searchCassette__link{
      font-size: 1.2rem;
    }
  }
  .c-searchCassette table{
    font-size: 1.2rem;
    line-height: 1.8;
  }
  @media #{$more_than_medium}{
    .c-searchCassette table th{
      background: #F8F8F8;
      padding-left: 1em;
    }
  }
  .c-searchCassette table tr:nth-of-type(2) th,
  .c-searchCassette table tr:nth-of-type(3) th,
  .c-searchCassette table tr:nth-of-type(4) th{
    border-top: 1px solid rgba(34, 36, 38, 0.1);
  }
  .c-searchCassette table td span.is-baitoru_next{
    display: block;
    width: 70px;
    height: 35px;
    background: url('http://data.tenshoku-journal.com/logo_baitoru_next.jpg') no-repeat;
    background-size: cover;
  }
  .c-searchCassette table td span.is-hatalike{
    display: block;
    width: 70px;
    height: 35px;
    background: url('http://data.tenshoku-journal.com/logo_hatalike.jpg') no-repeat;
    background-size: cover;
  }
  .c-searchCassette table td span.is-mynabi_agent{
    display: block;
    width: 100px;
    height: 50px;
    background: url('http://data.tenshoku-journal.com/logo_mynabi_agent.jpg') no-repeat;
    background-size: cover;
  }
  .c-searchCassette table td span.is-rikunabi_next{
    display: block;
    width: 70px;
    height: 35px;
    background: url('http://data.tenshoku-journal.com/logo_rikunabi_next.jpg') no-repeat;
    background-size: cover;
  }
  .c-searchCassette table td span.is-recruit_agent{
    display: block;
    width: 70px;
    height: 35px;
    background: url('http://data.tenshoku-journal.com/logo_recruit_agent.jpg') no-repeat;
    background-size: cover;
  }
  .c-searchCassette table td span.is-at_type{
    display: block;
    width: 70px;
    height: 35px;
    background: url('http://data.tenshoku-journal.com/logo_at_type.jpg') no-repeat;
    background-size: cover;
  }
  .c-searchCassette table td span.is-torabayu{
    display: block;
    width: 70px;
    height: 35px;
    background: url('http://data.tenshoku-journal.com/logo_torabayu.jpg') no-repeat;
    background-size: cover;
  }
  .c-searchCassette table td span.is-workport{
    display: block;
    width: 70px;
    height: 35px;
    background: url('http://data.tenshoku-journal.com/logo_workport.jpg') no-repeat;
    background-size: cover;
  }
  .c-searchCassette__buttons{
    display: flex;
    margin: 3.0rem auto 1.0rem;
  }
  .c-searchCassette__button{
    width: 50%;
    padding: 0;
    font-size: 1.4rem;
    font-weight: normal;
  }
  .c-searchCassette__button:first-child{
    margin: 0 0.5em 0 0;
  }
  .c-searchCassette__button:last-child{
    margin: 0 0 0 0.5em;
  }
  .c-searchCassette__button .c-searchCassette__link{
    color: #FFF;
    display: block;
    width: 100%;
    height: 100%;
    padding: 1.5em 0;
    box-sizing: border-box;
  }
}


// //****************************
// // tabmenu
// //****************************
// #p-ranking,#p-itweb{
//   .c-tabmenu{
//     text-align:center;
//     font-size: 1.2rem;
//     margin:2.0rem 0 5.0rem;
//   }
//   .c-tabmenu__item{
//      display:inline-block;
//      width:33.3333%;
//      box-sizing:border-box;
//      line-height:1.6;
//   }
//   @media #{$more_than_small}{
//     .c-tabmenu__item{
//        padding-top:1.5em;
//        padding-bottom:1.5em;
//     }
//   }
//   @media #{$less_than_small}{
//     .c-tabmenu__item{
//        padding-left:0.2em;
//        padding-right:0.2em;
//     }
//   }
// }
