/*
 Theme Name  : Tenshoku Journall
 Description : 転職ジャーナル用オリジナルCSS
 Author      : Takahiro Deto
 Author URI  : https://www.facebook.com/takahir0d
 Version     : 0.9.1
 */
/*************************************************
 * 3 Common Parts Layout - Header
 ************************************************/

@media screen and (min-width: 960px){
  .l-main{
    margin-bottom: 50px;
  }
}
@media screen and (max-width: 959px){
  .l-main{
    margin:0 10px;
  }
}
@media screen and (min-width: 960px){
  .l-col-lg-8{
    margin-right: 10px;
  }
  .l-col-lg-4{
    margin-left: 10px;
  }
}
#p-knowhow .l-aside_rg_1{
  margin-top: 0;
}
@media screen and (max-width: 959px){
  #p-knowhow .l-aside_rg_2{
    margin: 15px 0;
  }
}


/*************************************************
 * 3 Module
 ************************************************/
#p-knowhow .c-articles {
  margin: 20px auto;
}
#p-knowhow .c-articles__lead {
  color: #666;
  font-weight: normal;
  margin-bottom: 35px;
}
@media screen and (max-width: 679px){
  #p-knowhow .c-articles__lead {
    font-size: 18px;
  }
}
#p-knowhow .c-articles__leadmeta {
  font-size: 0.6em;
  padding: 0 15px;
}
@media screen and (max-width: 679px) {
  #p-knowhow .c-articles__leadmeta {
    display: block;
    padding: 0;
  }
}
#p-knowhow .c-article__item {
  margin-bottom: 50px;
}
#p-knowhow .c-article__contentTitle {
  font-size: 14px;
  font-weight: normal;
  color: #666;
}
#p-knowhow .c-article__contentTitle:hover {
  text-decoration: underline;
}
#p-knowhow .c-article__contentLink{
  color: #666;
}
#p-knowhow .c-article__contentDesc {
  font-size: 12px;
  color: #999;
}
#p-knowhow .c-article__contentTag {
  margin: 5px 10px;
  font-size: 10px;
}
#p-knowhow .c-article__pagination {
  margin: 50px auto 20px;
  text-align: center;
}
#p-knowhow .c-article__pagination a{
  font-size: 12px;
}
#p-knowhow .c-category h2,#p-knowhowDetail .c-category h2{
  border: none;
}
#p-knowhow .c-knowhow,#p-knowhowDetail .c-knowhow {
  color: #666;
  margin: 0 auto 50px;
}
#p-knowhow .c-knowhow,#p-knowhowDetail .c-knowhow{
  width: 100%;
}
#p-knowhow .c-knowhow h2,#p-knowhowDetail .c-knowhow h2 {
  color: #666;
  font-size: 14px;
  font-weight: normal;
  border-bottom: 1px solid #DDD;
  margin-bottom: 28px;
}
#p-knowhow .c-knowhow__item,#p-knowhowDetail .c-knowhow__item {
  margin-bottom: 15px;
}
#p-knowhow .c-knowhow__thumb,#p-knowhowDetail .c-knowhow__thumb{
  width: 70px;
  height: 55px;
  flex: 0 0 auto;
}
#p-knowhow .c-knowhow__link, #p-knowhow .c-knowhow__link:hover,
#p-knowhowDetail .c-knowhow__link, #p-knowhowDetail .c-knowhow__link:hover {
  display: flex;
  color: #666;
  text-decoration: none;
}
#p-knowhow .c-knowhow__link:hover,#p-knowhowDetail .c-knowhow__link:hover {
  opacity: 0.8;
}
#p-knowhow .c-knowhow__lead,#p-knowhowDetail .c-knowhow__lead {
  width: calc(100% - 70px);
  padding-left: 10px;
}
#p-knowhow .c-knowhow__lead p,#p-knowhowDetail .c-knowhow__lead p {
  font-size: 12px;
  margin-bottom: 0.2em;
}

#p-knowhow .c-articleHeader {
  overflow: hidden;
}
@media screen and (max-width: 689px){
  #p-knowhow .ui.divider.u-dn{
    border:none;
  }
}
@media screen and (min-width: 680px){
  #p-knowhow .c-articleHeader__thumb{
    float: left;
    clear: both;
    vertical-align: bottom;
    max-width: 16vw;
    min-width: 70px;
    min-height: 70px;
    background-size: cover;
  }
}
@media screen and (max-width: 679px){
  #p-knowhow .c-articleHeader__thumb{
    width: 100%;
  }
}
@media screen and (min-width: 680px){
  #p-knowhow .c-articleHeader__txtbox {
    padding-left: calc(16vw + 1em);
  }
}
@media screen and (max-width: 679px){
  #p-knowhow .c-articleHeader__txtbox {
    padding-top: 1.5em;
  }
}
#p-knowhow .c-articleHeader__title {
  color: #666;
  font-size: 18px;
  font-weight: normal;
  line-height: 1.8;
  margin-bottom: 1em;
}
#p-knowhow .c-articleHeader__lead {
  color: #999;
  font-size: 12px;
  padding-left: calc(16vw + 1em);
  line-height: 1.8;
}
@media screen and (max-width: 767px) {
  #p-knowhow .c-articleHeader__lead {
    float: left;
    padding: 0.5em 0 1em;
  }
}
#p-knowhow .c-articleMain {
  margin-top: 30px;
}
#p-knowhow .c-articleContent{
  color: #666;
}
#p-knowhow .c-articleContent img {
  width: 100%;
  margin: 10px 0;
}
#p-knowhow .c-articleContentH2{
  border-left:5px solid;
  padding-left: 0.7em;
  font-weight: normal;
  margin-bottom: 1.6em;
  font-size: 18px;
  line-height: 1.8;
}
#p-knowhow .c-articleContent a{
  color:#4183c4;
}
#p-knowhow blockquote {
  padding: 10px 20px;
  margin: 40px 0;
  text-indent: 15px;
}
#p-knowhow blockquote:before{
  content:"“";
  font-size:400%;
  line-height:1em;
  color:#0e566c;
  position:absolute;
  left:0;
  top:0;
}
#p-knowhow blockquote span:after{
  content:"”";
  font-size:400%;
  line-height:1em;
  color:#0e566c;
  position:absolute;
  right:0.5em;
  bottom:-0.5em;
}
#p-knowhow .c-articleContent .list .item{
  display: flex;
}
#p-knowhow .c-articleContent .list .item p{
  margin: 0;
}
#p-knowhow .c-articleContent p {
  margin-bottom: 1.5em;
  line-height: 1.8;
}
#p-knowhow .c-relatedArticle{  
  margin: 5.0rem 0;
}
#p-knowhow .c-relatedArticle h2{
  font-weight: normal;
}
#p-knowhow .c-relatedArticle .item{
  margin-bottom: 40px;
}
#p-knowhow .c-relatedArticle .content .header{
  color: #666;
  font-size: 14px;
  font-weight: normal;
}
#p-knowhow .c-relatedArticle .content .description{
  color: #666;
  font-size: 12px;
}
@media screen and (max-width: 679px){
  #p-knowhow .l-aside{
    display: flex;
    flex-direction: column-reverse;
  }
}
#p-knowhow .ui.cards{
  margin-top: 1em;
  margin-bottom: 1em;
}
#p-knowhow .ui.cards .card{
  margin: 1em auto;
}

#p-knowhow .c-category__item{
  border-top: 1px solid #EAEAEA;
}
#p-knowhow .c-category__item:last-child{
  border-bottom: 1px solid #EAEAEA;
}
#p-knowhow .c-category__link{
  display: inline-block;
  width: 100%;
  height: 100%;
  font-size: 14px;
  line-height: 3;
  padding-left: 10px;
  padding-right: 10px;
  box-sizing: border-box;
  color: #888;
  position: relative;
}
#p-knowhow .c-category__link .write.icon{
  padding-right: 0.5em;
}
#p-knowhow .c-category__link .angle.right.icon{
  position: absolute;
  right: 0;
}
#p-knowhow .c-category__link:hover{
  background: #FAFAFA;
}


@media screen and (min-width: 680px){
  #p-knowhow img.c-page-55{
    width: 60%;
  }
}
