//*********************************************
// * Layout
//*********************************************

.l-aside{
  margin: 0 auto;
  width: 100%;
}
.l-aside h2{
  color: #666;
  font-size: 1.4rem;
  font-weight: normal;
  border-bottom: 1px solid #DDD;
  margin-bottom: 2.8rem;
}
@media #{$more_than_large}{
  .l-aside{
    width: 30.0rem;
  }
}
.l-aside_rg_1,#p-top .l-aside_rg_1{
  margin: 3.0rem 0 5.0rem;
  width: 100%;
}
#p-search .l-aside_rg_1{
  margin: 6.0rem 0 5.0rem;
  width: 100%;
}
@media #{$more_than_large}{
  #p-top .l-aside_rg_1{
    min-height: 30.0rem;
  }
}
.l-aside_rg_2{
  margin: 3.0rem 0 5.0rem;
}
.l-aside_rg_3{
  margin: 3.0rem 0 5.0rem;
}


//*********************************************
// * Module
//*********************************************

//****************************
// newarrival
//****************************
#p-top{
  .c-newarrival__logo{
    height: 45px;
    width: auto;
  }
  .c-newarrival .content:nth-of-type(2){
    padding-top: 7px;
  }
  .c-newarrival__logo.is-rikunabi_next{
    background: url('http://data.tenshoku-journal.com/logo_rikunabi_next.jpg') no-repeat;
    background-size: contain;
  }
  .c-newarrival__logo.is-baitoru_next{
    background: url('http://data.tenshoku-journal.com/logo_baitoru_next.jpg') no-repeat;
    background-size: contain;
  }
  .c-newarrival__logo.is-at_type{
    background: url('http://data.tenshoku-journal.com/logo_at_type.jpg') no-repeat;
    background-size: contain;
  }
  .c-newarrival__logo.is-hatalike{
    background: url('http://data.tenshoku-journal.com/logo_hatalike.jpg') no-repeat;
    background-size: contain;
  }
  .c-newarrival__logo.is-recruit_agent{
    background: url('http://data.tenshoku-journal.com/logo_recruit_agent.jpg') no-repeat;
    background-size: contain;
  }
  .c-newarrival__logo.is-workport{
    background: url('http://data.tenshoku-journal.com/logo_workport.jpg') no-repeat;
    background-size: contain;
  }
  .c-newarrival__logo.is-mynabi_agent{
    background: url('http://data.tenshoku-journal.com/logo_mynabi_agent.jpg') no-repeat;
    background-size: contain;
  }
  .c-newarrival__logo.is-torabayu{
    background: url('http://data.tenshoku-journal.com/logo_torabayu.jpg') no-repeat;
    background-size: contain;
  }
  .c-newarrival__logo.is-rikunabi_haken{
    background: url('http://data.tenshoku-journal.com/logo_rikunabi_haken.jpg') no-repeat;
    background-size: contain;
  }
  .c-newarrival .ui.small.feed{
    margin-top: 0;
  }
  .c-newarrival__title{
    font-size: 1.6rem;
    font-weight: normal;
    color: $base_text_color;
  }  
  .c-newarrival__item{
    color: $base_text_color;
    display: inline-block;
    font-weight: normal;
    font-size: 1.2rem;
    line-height: 2;
  }
  .c-newarrival__item:hover{
    opacity: 0.8;
  }
  .c-newarrival__item a{
    color: #555;
    display: inline-block;
  }
  @media #{$more_than_large}{
    .c-newarrival__item a{
      padding: 0 0.2em;
    }
  }
  @media #{$less_than_large}{
    .c-newarrival__item a{
      padding: 0.4em;
    }
  }
  .c-newarrival__item a:hover{
    text-decoration: underline;
  } 
  .extra.content{
    font-size: 1.2rem;
  }
  .c-newarrival__count{
    font-size: 1.6rem;
    line-height: 1.6;
    font-weight: bold;
  }
}


//****************************
// knowhow
//****************************
#p-top{
  .c-knowhow__item{
    margin-bottom: 2.5rem;
  }
  .c-knowhow__item:hover{
    opacity: 0.8;
  }
  .c-knowhow__link{
    display: flex;
    flex-wrap: nowrap;
  }
  .c-knowhow__thumb{
    width: 70px;
    flex-basis: 70px;
    height: 55px;
  }
  .c-knowhow__lead{
    width: calc(100% - 70px);
    padding-left: 1.0rem;
    font-size: 1.2rem;
    color: $base_text_color;
  }
}


//****************************
// about
//****************************
#p-top{
  .c-about__content{
    font-size: 1.1rem;
    color: #999;
    line-height: 1.6;
  }
}
