//*********************************************
// * Layout
//*********************************************
#p-jobinfo{
  @media #{$more_than_large}{
    .l-main{
      margin-bottom: 5.0rem;
    }
  }
  @media #{$less_than_large}{
    .l-main{
      margin:0 1.0rem;
    }
  }
  .l-main_lf_1,.l-main_lf_2,.l-main_lf_3{
    margin: 3.0rem 0;
  }
}


//*********************************************
// * Module
//*********************************************

//****************************
// override
//****************************

#p-jobinfo{
  h2{
    color: #666;
    font-weight: normal;
    margin: 0.8rem 0 1.8rem;
  }
  p{
    font-size:1.3rem;
    line-height:1.8;
    color:#666;
  }
  table,th,td{
    color: #666;
  }
  .c-detail .ui.divider{
    margin-top:5.0rem;
    margin-bottom:5.0rem;
  }
  .c-detail .four.wide{
    vertical-align:top;
    padding-top:1em;
  }
  .c-detail .ui.top.attached.tabular.menu .item{
    font-size: 1.2rem;
    text-align: center;
    padding: 0;
  }
  .c-detail .ui.top.attached.tabular.menu .item a{
    display: block;
    width: 100%;
    height: 100%;
    color: #666;
    font-weight: normal;
    cursor: pointer
  }
  @media #{$more_than_small}{
    .c-detail .ui.top.attached.tabular.menu .item a{
      padding: 0.92857143em 4.0rem;
    }
  }
  @media #{$less_than_small}{
    .c-detail .ui.top.attached.tabular.menu .item{
      width: 50%;
    }
    .c-detail .ui.top.attached.tabular.menu .item a{
      height: 3.0rem;
      line-height: 3.0rem;
    }
  }
  .c-detail .ui.top.attached.tabular.menu .item a{
    box-sizing: border-box;
  }
  .c-detail .ui.bottom.attached.segment{
    padding:0;
  }
  @media #{$more_than_large}{
    .ui.cards{
      margin: 0 0 2.0rem;
    }
    .ui.card{
      min-width: 200px;
      width:23%;
      box-sizing:border-box;
      margin-left:1%;
      margin-right:1%;
    }
    .ui.card:nth-child(1){
      margin-left: 0;
      margin-right:1%;
    }
    .ui.card:nth-child(4){
      margin-left: 1%;
      margin-right: 0;
    }
    .is-justify{
      justify-content:space-between;
    }
  }
  @media #{$less_than_small}{
    .ui.cards{
      display: block;
      margin:0;
    }
    .ui.card{
      width: 100%;
      margin-left: 0;
      margin-right: 0;
    }
  }
  .ui.card *:not(a){
    color: #666;
    font-size: 1.2rem;
  }
  .ui.card .meta{
    font-weight: bold;
  }
  .ui.card .content .header{
    font-size: 1.4rem;
    font-weight: normal;
  }
  .ui.card .ui.button{
    font-size: 1.4rem;
    font-weight: normal;
    width: 100%;
    box-sizing: border-box;
    height: 5.0rem;
    padding: 0;
    line-height: 5.0rem;
  }
  .ui.card .summary{
    font-weight: normal;
  }
}

//****************************
// header
//****************************
#p-jobinfo{
  .c-header{
    margin:2.0rem auto;
  }
  @media #{$more_than_large}{
    .c-header{
      display:flex;
      flex-direction: row-reverse;
      justify-content: flex-end;
      align-items:center;
    }
  }
  @media #{$less_than_large}{
    .c-header__meta{
      display: flex;
      align-items: center;
    }
  }
  .c-header__meta small{
    font-size:1.0rem;
    margin-right: 1.5em;
    color:#999;
  }
  @media #{$more_than_small}{
    .c-header__meta small{
      display:block;
    }
  }
  .c-header__dates{
    font-size: 12px;
    color:#666;
  }
  .c-header__servicelogo{
    width: 10.0rem;
    height: 5.0rem;
    border: 1px solid #eee;
  }
  .c-header__servicelogo.is-rikunabi_next{
    background: url('http://data.tenshoku-journal.com/logo_rikunabi_next.jpg') no-repeat;
    background-size: contain;
  }
  .c-header__servicelogo.is-baitoru_next{
    background: url('http://data.tenshoku-journal.com/logo_baitoru_next.jpg') no-repeat;
    background-size: contain;
  }
  .c-header__servicelogo.is-hatalike{
    background: url('http://data.tenshoku-journal.com/logo_hatalike.jpg') no-repeat;
    background-size: contain;
  }
  .c-header__servicelogo.is-at_type{
    background: url('http://data.tenshoku-journal.com/logo_at_type.jpg') no-repeat;
    background-size: contain;
  }
  .c-header__servicelogo.is-torabayu{
    background: url('http://data.tenshoku-journal.com/logo_torabayu.jpg') no-repeat;
    background-size: contain;
  }
  .c-header__servicelogo.is-workport,.c-header__servicelogo.is-workport_it{
    background: url('http://data.tenshoku-journal.com/logo_workport.jpg') no-repeat;
    background-size: contain;
  }
  .c-header__servicelogo.is-recruit_agent{
    background: url('http://data.tenshoku-journal.com/logo_recruit_agent.jpg') no-repeat;
    background-size: contain;
  }
  .c-header__servicelogo.is-mynabi_agent{
    background: url('http://data.tenshoku-journal.com/logo_mynabi_agent.jpg') no-repeat;
    background-size: contain;
  }
  .c-header__servicelogo.is-rikunabi_haken{
    background: url('http://data.tenshoku-journal.com/logo_rikunabi_haken.jpg') no-repeat;
    background-size: contain;
  }
  .c-header__title{
    font-size: 1.6rem;
    color:#666;
  }
  @media #{$more_than_large}{
    .c-header__title{
      margin: 0 1.0rem;
    }
  }
  .c-header__title small{
    display:block;
    font-size:1.0rem;
    color:#999;
    margin:0.5rem 0;
  }
}

//****************************
// detail
//****************************

#p-jobinfo{
  .c-detail{
    font-size: 1.2rem;
    color: #666;
  }
  @media #{$more_than_small}{
    .c-detail__box{
      display: flex;
    }
    .c-detail__content{
      width:70%;
    }
    .c-detail__sticky{
      width:30%;
    }
  }
  .c-detail__content{
    padding:1em;
  }
  .c-detail__sticky{
    background:#F0F0F0;
    padding:1em;
    position: relative;
  }
  [data-id = "sticky-button"]{
    position: static;
  }
}

//****************************
// asto
//****************************
#p-jobinfo{
  .c-asto{
    border:1px solid #D4D4D5;
    box-shadow:none;
    font-size:1.3rem;
    color:#666;
  }
  .c-asto__footer{
    position: relative;
  }
  @media #{$more_than_small}{
    .c-asto__footer{
      font-size:1.3rem;
      line-height: 1.8;
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
  }
  @media #{$less_than_small}{
    .c-asto__footer > div{
      margin: 1.5rem 0;
    }
  }
  .c-asto__footer span{
    display: block;
    margin-bottom: 1.0rem;
  }
  @media #{$more_than_small}{
    .c-asto__point{
      width: 70%;
      box-sizing: border-box;
      padding-right: 1.5em;
    }
  }
  .c-asto__point li{
    display: flex;
  }
  .c-asto__point i{
    margin-right: 0.7rem;
  }

  @media #{$less_than_small}{
    .c-asto__detailbutton{
      width: 100%;
    }
  }
  @media #{$more_than_small}{
    .c-asto__detailbutton{
      width: 30%;
    }
  }
}


//*********************************************
// * state
//*********************************************
#p-jobinfo{
  .is-pc-fixed{
    position:fixed;
    top: 54px;
    width: 100%;
    z-index: 2;
    backface-visibility:hidden;
    overflow: hidden;
    -webkit-transform: translate3d(0,0,0);
  }

  .is-sp-fixed{
    position:fixed;
    bottom: 10px;
  }

  .c-detail__sticky.is-stack-sp{
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
  }
  .c-detail__sticky .c-single__button.is-stack-sp{
    width: calc(100% - 2.0rem);
  }
}
