//*********************************************
// * Layout
//*********************************************
#p-top{
  //****************************
  // common layout
  //****************************
  @media #{$more_than_large}{
    .l-main{
      margin-bottom: 5.0rem;
    }
  }
  @media #{$less_than_large}{
    .l-main{
      margin:0 4vw;
    }
  }
  .l-section_title{
    color: #D7BF9A;
    font-size: 1.6rem;
    font-weight: normal;
    margin-bottom: 3.0rem;
  }
  @media #{$less_than_medium}{
    .l-section_title{
      font-size: 1.4rem;
    }
  }
  .l-main_lf_1,.l-main_lf_2,.l-main_lf_3,.l-main_lf_4{
    margin: 3.0rem 0 5.0rem;
  }

  @media #{$more_than_large}{
    .l-col-lg-8{
      margin-right: 1.0rem;
    }
    .l-col-lg-4{
      margin-left: 1.0rem;
    }
  }
  //****************************
  // l-main_lf_2
  //****************************

  //****************************
  // l-main_lf_4
  //****************************
  .l-search_by{
    margin-bottom: 3.0rem;
  }
  .l-search_by h3{
    font-size: 1.4rem;
    font-weight: normal;
    color: #999;
  }
  @media #{$more_than_small}{
    .c-search__list > .l-row{
      margin-left: -1.3rem;
      margin-bottom: 2.0rem;
    }
  }
  @media #{$less_than_small}{
    .l-row.l-md-row.is-sp{
      margin-bottom: 0;
      overflow: hidden;
    }
  }
}


//*********************************************
// * Module
//*********************************************

//****************************
// pickup
//****************************
#p-top{
  .c-pickup__item{
    display: block;
    width: 100%;
    height: 30.0rem;
    position: relative;
  }
  @media #{$more_than_small}{
    .c-pickup__item{
      height: 30.0rem;
    }
  }
  @media #{$less_than_small}{
    .c-pickup__item{
      height: 20.0rem;
    }
  }
  .c-pickup__site{
    background: url('http://data.tenshoku-journal.com/73807901.jpg') no-repeat;
    background-size: cover;
    background-position: center;
  }
  .c-pickup__agent{
    background: url('http://data.tenshoku-journal.com/99302690@sq.jpg') no-repeat;
    background-size: cover;
    background-position: center;
  }
  .c-pickup__title,.c-pickup__title:hover{
    width: 100%;
    position: absolute;
    bottom: 0;
    padding: 1.0rem;
    line-height: 1.6;
    color: #FFF;
    background: rgba(0,0,0,0.2);
    box-sizing: border-box;
  }.c-pickup__title:hover{
    background: rgba(0,0,0,0.3);
  }
}


//****************************
// feature
//****************************
#p-top{
  @media #{$more_than_medium}{
    .c-feature__item{
      margin-bottom: 4.5rem;
    }
  }
  @media #{$less_than_medium}{
    .c-feature__item{
      min-height: 30.0rem;
      max-height: 35.0rem;
      overflow: hidden;
      position: relative;
      border: 1px solid #eaeaea;
    }
    .c-feature__item::after{
      position: absolute;
      bottom: 0;
      left: 0;
      content: '';
      width: 100%;
      height: 15%;
      background: linear-gradient(rgba(255,255,255,0) 0,rgba(255,255,255,1) 75%,rgba(255,255,255,1) 100%);
    }
  }
  .c-feature__item:hover{
    opacity: 0.8;
  }
  @media#{$more_than_medium}{
    .c-feature__thumb{
      height: 13.6rem;
    }
  }
  @media#{$less_than_medium}{
    .c-feature__thumb{
      width: 100% !important; // semantic ui override
      height: 14.0rem;
    }
  }
  .c-feature__thumb > span{
    display: block;
    width: 100%;
    height: 100%;
  }
  span[data-thumbnail-id="5"]{
    background: url('http://data.tenshoku-journal.com/feature-5.jpg') no-repeat;
    background-size: cover;
    background-position: center;
  }
  span[data-thumbnail-id="16"]{
    background: url('http://data.tenshoku-journal.com/feature-16.jpg') no-repeat;
    background-size: cover;
    background-position: center;
  }
  span[data-thumbnail-id="20"]{
    background: url('http://data.tenshoku-journal.com/feature-20.jpg') no-repeat;
    background-size: cover;
    background-position: center;
  }
  span[data-thumbnail-id="23"]{
    background: url('http://data.tenshoku-journal.com/feature-23.jpg') no-repeat;
    background-size: cover;
    background-position: 50% 10%;
  }
  @media #{$more_than_medium}{
    .c-feature__contentBox{
      padding-left: 1.5rem;
    }
  }
  @media #{$less_than_medium}{
    .c-feature__contentBox{
      padding: 1.0rem;
      box-sizing: border-box;
    }
  }
  .c-feature__link{
    color: $base_link_color;
  }
  @media #{$less_than_medium}{
    .c-feature__link{
      margin: 0;
    }
  }
  .c-feature__lead{
    font-size: 1.4rem;
    font-weight: normal;
    margin-bottom: 1em;
  }
  .c-feature__excerpt{
    color: #999;
    font-size: 1.2rem;
    line-height: 1.6;
  }
  @media #{$less_than_medium}{
    .c-feature__excerpt{
      line-height: 1.8;
    }
  }
}


//****************************
// ranking
//****************************
#p-top{
  @media #{$less_than_medium}{
    .c-ranking__item{
      min-height: 30.0rem;
      max-height: 35.0rem;
      overflow: hidden;
      position: relative;
      border: 1px solid #eaeaea;
    }    
  }
  @media #{$more_than_medium}{
    .c-ranking__item{
      margin: 0;
    }
  }
  .c-ranking__item:hover{
    opacity: 0.8;
  }
  @media#{$more_than_medium}{
    .c-ranking__thumb{
      width: 50%;
      height: 13.6rem;
    }
  }
  @media#{$less_than_medium}{
    .c-ranking__thumb{
      width: 100% !important; // semantic ui override
      height: 14.0rem;
    }
  }
  .c-ranking__thumb{
    line-height: 13.0rem;
  }
  .c-ranking__site{
    background: url('http://data.tenshoku-journal.com/93801880.jpg');
    background-size: cover;
  }
  @media #{$less_than_large}{
    .c-ranking__site{
      background-position-y: 30%;
    }
  }
  .c-ranking__agent{
    background: url('http://data.tenshoku-journal.com/99302690.jpg') no-repeat;
    background-size: cover;
  }
  .c-ranking__itweb{
    background: url('http://data.tenshoku-journal.com/100716472.jpg') no-repeat;
    background-size: cover;
  }
  .c-ranking__haken{
    background: url('http://data.tenshoku-journal.com/102617459.jpg') no-repeat;
    background-size: cover;
  }
  .c-ranking__woman{
    background: url('http://data.tenshoku-journal.com/109575510.jpg') no-repeat;
    background-size: cover;
    background-position: 0 5%;
  }
  @media #{$less_than_large}{
    .c-ranking__haken{
      background-position-y: 20%;
    }
  }
  @media #{$more_than_medium}{
    .c-ranking__contentBox{
      width: 50%;
      padding-left: 1.0rem;
    }
  }
  @media #{$less_than_medium}{
    .c-ranking__contentBox{
      padding: 1.0rem;
      box-sizing: border-box;
    }
  }
  .c-ranking__link{
    color: $base_link_color;
  }
  @media #{$more_than_medium}{
    .c-ranking__link{
      display: flex;
    }
  }
  @media #{$less_than_medium}{
    .c-ranking__link{
      margin: 0;
    }
  }
  .c-ranking__lead{
    font-size: 1.4rem;
    font-weight: normal;
    margin-bottom: 1em;
  }
  .c-ranking__excerpt{
    color: #999;
    font-size: 1.2rem;
    line-height: 1.6;
  }
  @media #{$less_than_medium}{
    .c-ranking__excerpt{
      line-height: 1.8;
    }
  }
}


//****************************
// search
//****************************
#p-top{
  .c-search__item{
    height: 7.0rem;
    text-align: center;
  }
  .c-search__item:hover{
    opacity: 0.8;
  }
  @media #{$more_than_small}{
    .c-search__item{
      margin-left: 1.3rem;
    }
  }
  @media #{$less_than_small}{
    .c-search__item{
      float: left;
      width: 50%;
      margin-bottom: 2.5rem;
    }
  }
  .c-search__link{
    color: #FFF;
    display: block;
    height: 100%;
    background: #DEDEDE;
    box-sizing: border-box;
  }
  .c-search__meta{
    display: inline-block;
    width: 100%;
    height: 100%;
  }
  .c-search__itweb{
    background: url('http://data.tenshoku-journal.com/107797389.jpg');
    background-size: cover;
  }
  .c-search__creative{
    background: url('http://data.tenshoku-journal.com/77940519.jpg');
    background-size: cover;
  }
  .c-search__bkoffice{
    background: url('http://data.tenshoku-journal.com/114337165.jpg');
    background-size: cover;
  }
  .c-search__sales{
    background: url('http://data.tenshoku-journal.com/53278734.jpg');
    background-size: cover;
  }
  .c-search__medical{
    background: url('http://data.tenshoku-journal.com/98753963.jpg');
    background-size: cover;
  }
  .c-search__food{
    background: url('http://data.tenshoku-journal.com/93086529.jpg');
    background-size: cover;
  }
  .c-search__logi{
    background: url('http://data.tenshoku-journal.com/105663084.jpg');
    background-size: cover;
  }
  .c-search__care{
    background: url('http://data.tenshoku-journal.com/104466559.jpg');
    background-size: cover;
  }
  .c-search__marke{
    background: url('http://data.tenshoku-journal.com/97033329.jpg');
    background-size: cover;
  }
  .c-search__edu{
    background: url('http://data.tenshoku-journal.com/82156814.jpg');
    background-size: cover;
  }
  .c-search__finance{
    background: url('http://data.tenshoku-journal.com/96309663.jpg');
    background-size: cover;
  }
  .c-search__estate{
    background: url('http://data.tenshoku-journal.com/92939777.jpg');
    background-size: cover;
  }
  .c-search__service{
    background: url('http://data.tenshoku-journal.com/97846215.jpg');
    background-size: cover;
  }
  .c-search__prod{
    background: url('http://data.tenshoku-journal.com/93077553.jpg');
    background-size: cover;
  }
  .c-search__prof{
    background: url('http://data.tenshoku-journal.com/118957053.jpg');
    background-size: cover;
  }
  .c-search__other{
    background: rgba(0,0,0,0.7);
  }
  .c-search__hokkaido{
    background: url('http://data.tenshoku-journal.com/map-hokkaido.jpg') #EEE no-repeat;
    background-size: contain;
    background-position: center;
    color: #666;
  }
  .c-search__tohoku{
    background: url('http://data.tenshoku-journal.com/map-tohoku.jpg') #EEE no-repeat;
    background-size: contain;
    background-position: center;
    color: #666;
  }
  .c-search__kanto{
    background: url('http://data.tenshoku-journal.com/map-kanto.jpg') #EEE no-repeat;
    background-size: contain;
    background-position: center;
    color: #666;
  }
  .c-search__tokai{
    background: url('http://data.tenshoku-journal.com/map-tokai.jpg') #EEE no-repeat;
    background-size: contain;
    background-position: center;
    color: #666;
  }
  .c-search__hokushin{
    background: url('http://data.tenshoku-journal.com/map-hokushin.jpg') #EEE no-repeat;
    background-size: contain;
    background-position: center;
    color: #666;
  }
  .c-search__kansai{
    background: url('http://data.tenshoku-journal.com/map-kansai.jpg') #EEE no-repeat;
    background-size: contain;
    background-position: center;
    color: #666;
  }
  .c-search__chushikoku{
    background: url('http://data.tenshoku-journal.com/map-chushikoku.jpg') #EEE no-repeat;
    background-size: contain;
    background-position: center;
    color: #666;
  }
  .c-search__kyushu{
    background: url('http://data.tenshoku-journal.com/map-kyushu.jpg') #EEE no-repeat;
    background-size: contain;
    background-position: center;
    color: #666;
  }
  .l-search_by_service .c-search__item a{
    border: 1px solid #EEE;
    box-sizing: border-box;
  }
  .c-search__baitoru{
    background: url('http://data.tenshoku-journal.com/logo_baitoru_next.jpg') no-repeat;
    background-size: contain;
    background-position: center;
  }  
  .c-search__hatalike{
    background: url('http://data.tenshoku-journal.com/logo_hatalike.jpg') no-repeat;
    background-size: contain;
    background-position: center;
  }
  .c-search__mynabi{
    background: url('http://data.tenshoku-journal.com/logo_mynabi_agent.jpg') no-repeat;
    background-size: contain;
    background-position: center;
  }
  .c-search__next{
    background: url('http://data.tenshoku-journal.com/logo_rikunabi_next.jpg') no-repeat;
    background-size: contain;
    background-position: center;
  }
  .c-search__rag{
    background: url('http://data.tenshoku-journal.com/logo_recruit_agent.jpg') no-repeat;
    background-size: contain;
    background-position: center;
  }
  .c-search__tora{
    background: url('http://data.tenshoku-journal.com/logo_torabayu.jpg') no-repeat;
    background-size: contain;
    background-position: center;
  }
  .c-search__type{
    background: url('http://data.tenshoku-journal.com/logo_at_type.jpg') #ffe700 no-repeat;
    background-size: contain;
    background-position: center;
  }
  .c-search__wkpt{
    background: url('http://data.tenshoku-journal.com/logo_workport.jpg') no-repeat;
    background-size: contain;
    background-position: center;
  }
  @media #{$less_than_small}{
    .c-search__list .c-search__item:nth-of-type(2n) .c-search__link{
      margin-left: 0.5rem;
    }
    .c-search__list .c-search__item:first-child .c-search__link,
    .c-search__list .c-search__item:nth-of-type(2n+1) .c-search__link{
      margin-right: 0.5rem;
    }
  }
}